.imageBackground {
  min-width: 100%;
  min-height: 25%;
  background-size: cover;
  background-position: center;
}
.image {
  position: fixed;
}
.total {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
.nextButtom{
  /* float: right; */
  position: absolute;
  top:10px;
  right: 0;
}
.disable{
  visibility: hidden;
}
